<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>cambiar contrasena</title>
</head>
<body>
    <h1>hola soy password</h1>
<form action="{{url_for('cambiar_password')}}" method="POST">
    <input type="text" name="nombre">
    <input type="password" id="nueva_password" name="nueva_password" placeholder="nueva_password" required>
    <input type="submit" value="cambiear password">

</form>
    
</body>
</html>

