<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/style.css" />
    <title>{% block title %} {% endblock %}</title>
</head>
<body>
   
    <header>
        <div class="menu">
          <img src="logo.png" alt="">
          <nav>
              <ul>
                <li><a href="{{ url_for('inicio')}}">Inicio</a></li>
                <li><a href="{{ url_for('registro_local') }}">registro</a></li>
                <li><a href="{{ url_for('login_local') }}">login</a></li>
                <li><a href="{{ url_for('tareas') }}">tareas</a></li>
                <li><a href="{{ url_for('vista') }}">vista</a></li>
              </ul>
          </nav>
        </div>
      </header>

{% block contenido %}


{% endblock %}
    
</body>
</html>